            
            <div class="container">
                <div class="row">
{{!-- -------------------SECCION DE MENU-------------------------------------- --}}
                <div class="col-lg-2">                     
                          <div class="card ">
                                <div class="card-body ">   
                                         <div>
                                          <h6 class="mb-1 " style="padding: 0.43mm;">19 de Noviembre 15:01hr</h4>                                                           
                                       </div>
                                       <div style="padding: 2ch;">
                                            <button type="button" class="btn btn-primary waves-effect waves-light">Ver inertes y sementantes</button>
                                       </div>
                                       <div style="padding: 2ch;">
                                            <button type="button" class="btn btn-secondary waves-effect">Ver silos de  Aditivos</button>
                                       </div>
                                       <div style="padding: 2ch;">
                                            <button type="button" class="btn btn-warning waves-effect waves-light">Ver Dosificación manual</button>
                                       </div>
                                         <div style="padding: 2ch;">
                                            
                                       </div>

                                        <div class="media mb-3">
                                        <img src="images/users/1.jpg" class="mr-3 thumb-xl align-self-center rounded-circle" alt="...">
                                        <div class="media-body align-self-center"> 
                                            <h4 class="mt-0 mb-1">Oscar de Alba</h4>
                                            <p class="text-muted mb-0 font-12">Director Industrias Stark</p> 
                                                                                                                                    
                                        </div><!--end media body-->                                            
                                    </div> <!--end media-->   
                                  
                                 </div>
                            </div>             
                </div>
{{!-- -------------------------FIN DE SECCION DE MENU----------------------------}}
{{!-- ------------SECCION DE GRAFICA---------------------------------------------}}
                    <div class="col-lg-10">  
                        <div class="card ">
                                <div class="card-body ">    
                                    <h4 class="mt-0 " style="color: blue;">Detalles de producción y consumos en turno </h4>
                                    
                                     {{!Para modificar estilo entrar al archivo bottstrap.min en la linea 1996}}
                                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%; table-layout:auto;">
                                        <thead>
                                        <tr align="center" style="background-color: rgb(194, 221, 243);">
                                             <th style="background-color: white; border-right: white"></th> 
                                             <th style="background-color: white;"></th> 
                                            <th colspan="20"  >SILOS DE INERTES Y SEMENTANTES (Kg)</th>                                            
                                        </tr>
                                        <tr align="center" class="ctprod">
                                            <td style="width: 10px;">HR</td>
                                            <td >FORMULA</td>
                                            <td >SILO 01</td>
                                            <td >SILO 02</td>
                                            <td >SILO 03</td>
                                            <td >SILO 04</td>
                                            <td >SILO 05</td>
                                            <td >SILO 06</td>
                                            <td >SILO 04</td>
                                            <td >SILO 05</td>
                                            <td >SILO 06</td>
                                            <td >SILO 07</td>
                                            <td >SILO 08</td>
                                            <td >SILO 09</td>
                                            <td >SILO 10</td>
                                            <td >SILO 11</td>                                    
                                        </tr>
                                    
                                        </thead>
    
    
                                        <tbody class="ctprod" align="center" >
                                      
                                        <tr>
                                            <td>19/11/2021 15:00</td>
                                            <td>5</td>
                                            <td>999.6</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>615</td>
                                        </tr>
                                        <tr>
                                            <td>19/11/2021</td>
                                            <td>5</td>
                                            <td>908.66</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>615</td>
                                        </tr>
                                        <tr>
                                            <td>19/11/2021</td>
                                            <td>5</td>
                                            <td>908.66</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>615</td>
                                        </tr>
                                        <tr>
                                            <td>19/11/2021</td>
                                            <td>5</td>
                                            <td>908.66</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>615</td>
                                        </tr>
                                        <tr>
                                            <td>19/11/2021</td>
                                            <td>5</td>
                                            <td>908.66</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>615</td>
                                        </tr>
                                        <tr>
                                            <td>19/11/2021</td>
                                            <td>5</td>
                                            <td>908.66</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>615</td>
                                        </tr>
                                        <tr>
                                            <td>19/11/2021</td>
                                            <td>5</td>
                                            <td>908.66</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>615</td>
                                        </tr>
                                        <tr>
                                            <td>19/11/2021</td>
                                            <td>5</td>
                                            <td>908.66</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>615</td>
                                        </tr>
                                        <tr>
                                            <td>19/11/2021</td>
                                            <td>5</td>
                                            <td>908.66</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>615</td>
                                        </tr>
                                        <tr>
                                            <td>19/11/2021</td>
                                            <td>5</td>
                                            <td>908.66</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>615</td>
                                        </tr>
                                        <tr>
                                            <td>19/11/2021</td>
                                            <td>5</td>
                                            <td>908.66</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>615</td>
                                        </tr>
                                        <tr>
                                            <td>19/11/2021</td>
                                            <td>5</td>
                                            <td>908.66</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>615</td>
                                        </tr>
                                        
                                        </tbody>
                                    </table>        
                                       
                                </div>
                            </div>
                            {{!-- fin de card --}}
                    </div>  
{{!-- ------------------FIN DE SECCION DE GRAFICA----------------------------- --}}                
              
            </div><!--end row-->

      
