            <div class="container">
                <div class="row">
                    <div class="col-lg-8">  
                        <div class="card-body">  
                             <div class="chart-demo">
                                <div id="apex_line3" class="apex-charts"></div>                           
                             </div>  
                        </div><!--end card-body--> 
                    </div>  

                <div class="col-lg-4">
                     <h4 class="header-title mt-0">Utilización del tiempo</h4>  
                    <div id="ana_device" class="apex-charts"></div>
                    <div class="table-responsive mt-4">
                                        <table class="table mb-0">
                                            <thead class="thead-light">
                                            <tr>
                                                <th>Turno (%)</th>
                                                <th>Operando</th>
                                                <th>En espera</th>
                                                <th>Disponible</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row">Matutino</th>
                                                <td>68</td>
                                                <td>12</td>
                                                <td>10</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Vespertino</th>
                                                <td>72</td>
                                                <td>10</td>
                                                <td>8</td>                                                 
                                            </tr>
                                            <tr>
                                                <th scope="row">Nocturno</th>
                                                <td>90</td>
                                                <td>9</td>
                                                <td>1</td>
                                            </tr>
                                            
                                            </tbody>
                                        </table><!--end /table-->
                                    </div>
                </div>
                </div>
              
            </div><!--end row-->

            
      