<div class="container-fluid">   
     <div class="col-sm-12" >
            <div class="page-title-box">
                            
                <h4 class="page-title">Producción</h4>
            </div>
            <!--end page-title-box-->
        </div> 
        <div class="container-fluid">
        <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Detalles de producción y consumos en turno</h4>
                                <p class="text-muted mb-0">
                                </p>
                            </div><!--end card-header-->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div class="mb-2">
                                        <button class="btn btn-outline-primary btn-sm mb-1 mb-xl-0" id="download-csv">Download CSV</button>
                                        <button class="btn btn-outline-primary btn-sm mb-1 mb-xl-0" id="download-json">Download JSON</button>
                                        <button class="btn btn-outline-primary btn-sm mb-1 mb-xl-0" id="download-xlsx">Download XLSX</button>
                                        <button class="btn btn-outline-primary btn-sm mb-1 mb-xl-0" id="download-pdf">Download PDF</button>
                                        <button class="btn btn-outline-primary btn-sm mb-1 mb-xl-0" id="download-html">Download HTML</button>
                                    </div>
                                    <div id="datatable-3"></div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col --> 

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Totalizado de consumo por silo</h4>
                                <p class="text-muted mb-0">
                                </p>
                            </div><!--end card-header-->
                            <div class="card-body">
                                <div class="table-responsive">                                    
                                    <div id="datatable-2"></div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col --> 
                     
        </div>
        </div>
        
</div>