 <div class="container-fluid">
                <!-- Page-Title -->

    
    <div class="row" >
        <div class="col-sm-12" >
            <div class="page-title-box">
                            
                <h4 class="page-title">Bienvenido</h4>
            </div>
            <!--end page-title-box-->
        </div>
        
          <div class="col-sm-8 offset-sm-2 pb-2">
                <img src="assets/images/002A MARS LOGO.svg" alt="" class="rounded d-block mx-auto" style="width: 30%;">         
         </div> <!-- end col -->
      
        <!--end col-->
         
    </div>
 
    <div class="row">
    
          <div class="col-sm-8 offset-sm-2 pt-3">
                <img src="assets/images/002B LETRERO BIENVENIDO.svg" alt="" class="rounded d-block mx-auto" style="width: 50%;">         
         </div> <!-- end col -->
    
        <!--end col-->
    </div>

    
    <!-- end page title end breadcrumb -->
</div>