<div class="container-fluid">
    <div class="col-sm-12">
        <div class="page-title-box">

            <h4 class="page-title">Producción</h4>
        </div>
        <!--end page-title-box-->
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Listado de reportes</h3>

                </div>
                <!--end card-header-->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card ">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="media">
                                            <img src="assets/images/003J PERDURA LOGO.svg"
                                                class="me-2 thumb-lg rounded-circle" alt="...">
                                            <div class="media-body align-self-center">
                                                <h5 class="m-0 font-15">Reporte de Real Vs SetPoint</h5>
                                                <p class="text-muted fw-semibold mb-0">Tabla de consumos por dia</p>
                                            </div>
                                            <!--end media-body-->
                                        </div>
                                        <!--end media-->
                                    </div>
                                    <!--end col-->
                                    <div class="col-auto">
                                        <span class="badge bg-soft-success">Producción</span>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end card-header-->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="mb-0 ">Datos requeridos : <span class="text-muted">Fecha</span></p>
                                        <p class="">Origen de datos : <span class="text-muted">PLC remoto torre de
                                                bacheo</span></p>
                                    </div>

                                </div>
                                <!--end row-->
                                <a href="bodyrep_1" class="btn btn-sm btn-outline-primary float-end ">Generar</a>

                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->

                    <div class="col-lg-4">
                        <div class="card ">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="media">
                                            <img src="assets/images/003J PERDURA LOGO.svg"
                                                class="me-2 thumb-lg rounded-circle" alt="...">
                                            <div class="media-body align-self-center">
                                                <h5 class="m-0 font-15">Reporte ....</h5>
                                                <p class="text-muted fw-semibold mb-0">Tabla de consumos por dia</p>
                                            </div>
                                            <!--end media-body-->
                                        </div>
                                        <!--end media-->
                                    </div>
                                    <!--end col-->
                                    <div class="col-auto">
                                        <span class="badge bg-soft-success">Calidad</span>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end card-header-->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="mb-0 ">Datos requeridos : <span class="text-muted">Fecha</span></p>
                                        <p class="">Origen de datos : <span class="text-muted">PLC remoto torre de
                                                bacheo</span></p>
                                    </div>

                                </div>
                                <!--end row-->
                                <a href="" class="btn btn-sm btn-outline-primary float-end ">Generar</a>

                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->

                    <div class="col-lg-4">
                        <div class="card ">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="media">
                                            <img src="assets/images/003J PERDURA LOGO.svg"
                                                class="me-2 thumb-lg rounded-circle" alt="...">
                                            <div class="media-body align-self-center">
                                                <h5 class="m-0 font-15">Reporte de ...</h5>
                                                <p class="text-muted fw-semibold mb-0">Tabla de consumos por dia</p>
                                            </div>
                                            <!--end media-body-->
                                        </div>
                                        <!--end media-->
                                    </div>
                                    <!--end col-->
                                    <div class="col-auto">
                                        <span class="badge bg-soft-success">Mantenimiento</span>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end card-header-->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="mb-0 ">Datos requeridos : <span class="text-muted">Fecha</span></p>
                                        <p class="">Origen de datos : <span class="text-muted">PLC remoto torre de
                                                bacheo</span></p>
                                    </div>

                                </div>
                                <!--end row-->
                                <a href="" class="btn btn-sm btn-outline-primary float-end ">Generar</a>

                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->

                </div>
                <!--end row-->
            </div><!-- container -->
        </div>
        <!--end card-->
        <div class="card-body" id="contenido2">

        </div>

    </div> <!-- end col -->

</div>

</div>