<div class="container-fluid">   
     <div class="col-sm-12" >
            <div class="page-title-box">
                            
                <h4 class="page-title">Producción</h4>
            </div>
            <!--end page-title-box-->
        </div> 
        <div class="container-fluid">
        <div class="row">
                    
                        <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Grafica de operación</h4>
                            </div><!--end card-header-->
                          <div class="card-body">
                                <div class="chart-demo">
                                    <div class="toolbar">
                                        <button class="btn btn-sm btn-outline-light" id="one_month">Turno 1</button>
                                        <button class="btn btn-sm btn-outline-light" id="six_months">Turno 2</button>
                                        <button class="btn btn-sm btn-outline-light active" id="one_year">Turno 3</button>
                                        <button class="btn btn-sm btn-outline-light" id="ytd">YTD</button>
                                        <button class="btn btn-sm btn-outline-light" id="all">Dia completo</button>
                                    </div>
                                    <div id="apex_area2" class="apex-charts"></div>
                                </div>                                                                   
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->
                    
                     
        </div>
        <div class="row">
             <div class="col-lg-4">
                        
                    </div><!--end col-->
        </div>
        </div>
        
</div>