<div class="row">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body invoice-head">


            </div>
            <!--end card-body-->
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card-body">

                            <div class="table-responsive">
                                <div id="datatable-2"></div>
                            </div>
                        </div>
                        <!--end card-body-->
                    </div>
                    <div class="col-sm-4">
                        <div class="card-body">
                            <div class="card-header">
                                <h4 class="card-title">Conusumo por silo</h4>
                            </div>
                            <div id="apex_pie2-1" class="apex-charts"></div>

                        </div>
                        <!--end card-body-->
                    </div>

                </div>


                <div class="row">

                </div>

                <hr>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12 col-xl-4 ms-auto align-self-center">
                        <div class="text-center"><small class="font-12">Dsp V4</small></div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-12 col-xl-4">
                        <div class="float-end d-print-none mt-2 mt-md-0">
                            <a href="javascript:window.print()" class="btn btn-success btn-xl">Imprimir</a>

                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>