<style media="print">
    #Estilo {
        font-size: 7px;
        color: darkblue;
    }

    #Estilo2 {
        font-size: 7px;
        color: darkslategray;
    }

    #EstiloEnc {
        font-weight: bold;
        font-size: 9px;


    }
</style>
<div class="row">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body invoice-head">
                <div class="row">
                    <div class="col-md-4 align-self-center">
                        <img src="assets/images/003J PERDURA LOGO.svg" alt="logo-small" class="logo-sm me-1"
                            height="24">

                        <p class="mt-3 mb-0 text-muted">Informe de producción por dia por turno</p>
                    </div>
                    <!--end col-->
                    <div class="col-md-8">

                        <ul class="list-inline mb-0 contact-detail float-end">
                            <li class="list-inline-item">
                                <div class="ps-3">
                                    <i class="mdi mdi-account-star-outline "></i>
                                    <p class="text-muted mb-0">Supervisor de turno:</p>
                                    <p class="text-success mb-0">{{userlogin}}</p>

                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="ps-3">
                                    <i class="mdi mdi-clock"></i>
                                    <p class="text-muted mb-0">Operador</p>
                                    <p class="text-muted mb-0">Turno 1; Juan Perez</p>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="ps-3 prodTotal">
                                    <i class="mdi mdi-chart-bell-curve"></i>
                                    <p class="text-muted mb-0">Productción Total,</p>
                                    <script>
                                        $(document).ready(function () {
                                            getTotalProd();
                                        });
                                    </script>

                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end card-body-->
            <div class="card-body">
                <div class="row row-cols-3 d-flex justify-content-md-between">
                    <div class="col-md-3 d-print-flex">
                        <div class="">
                            <h6 class="mb-0"><b>Fecha de informe :</b> 11/05/2021</h6>
                            <h6><b>Documento :</b> # 23654789</h6>
                        </div>
                    </div>
                    <!--end col-->

                </div>
                <!--end row-->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-body">
                            <div class="table-responsive-sm ">
                                <table class="table mb-0 tabla-1"
                                    style="border-spacing: 1px;border-collapse: separate;">
                                    <script>
                                        $(document).ready(function () {
                                            //crearTablaHTML();
                                        });
                                    </script>

                                </table>

                                <!--end /table-->
                            </div>
                            <!--end /tableresponsive-->
                        </div>
                        <!--end card-body-->
                    </div>
                    <!--end card-->
                    <!--end col-->
                </div>
                <!--end row-->

                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="mt-4">Esta información es confidencial</h5>
                        {{!-- <ul class="ps-3">
                            <li><small class="font-12">All accounts are to be paid within 7 days from
                                    receipt of invoice. </small></li>
                            <li><small class="font-12">To be paid by cheque or credit card or direct
                                    payment
                                    online.</small></li>
                            <li><small class="font-12"> If account is not paid within 7 days the credits
                                    details supplied as confirmation of work undertaken will be charged
                                    the
                                    agreed quoted fee noted above.</small></li>
                        </ul> --}}
                    </div>
                    <!--end col-->
                    <div class="col-lg-6 align-self-center">
                        <div class="float-none float-md-end" style="width: 30%;">
                            <small>Powered by</small>
                            <img src="assets/images/logo-1B.png" alt="" class="mt-2 mb-1" height="20">
                            {{!-- <p class="border-top">Mars</p> --}}
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <hr>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12 col-xl-4 ms-auto align-self-center">
                        <div class="text-center"><small class="font-12"></small></div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-12 col-xl-4">
                        <label for="example-date-input" class="col-sm-2 col-form-label text-end">Fecha</label>
                        <div class="col-sm-10">
                            <input class="form-control " type="date" id="picker_date" valueAsNumber="0">
                        </div>
                    </div>

                    <div class="col-lg-12 col-xl-1">
                        <div class="float-end d-print-none mt-2 mt-md-0">
                            <a href="javascript:window.print()" class="btn btn-success btn-xl">Imprimir</a>

                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-1">
                        <div class="float-end d-print-none mt-2 mt-md-0">
                            <a href="javascript:dispalert()" class="btn btn-outline-primary btn-xl">Turno 1</a>

                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-1">
                        <div class="float-end d-print-none mt-2 mt-md-0">
                            <a href="javascript:dispalert()" class="btn btn-outline-primary btn-xl">Turno 2</a>

                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-1">
                        <div class="float-end d-print-none mt-2 mt-md-0">
                            <a href="javascript:dispalert()" class="btn btn-outline-primary btn-xl">Turno 3</a>

                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
<!--end row-->

</div><!-- container -->