<div class="row">
    <div class="col-xl-10 mx-auto">
        <div class="card">
            <div class="card-body invoice-head">
                <div class="row">
                    <div class="col-md-4 align-self-center">
                        <img src="assets/images/003J PERDURA LOGO.svg" alt="logo-small" class="logo-sm me-1"
                            height="24">

                        <p class="card-title">Informe de eventos SetPoit Vs Real por dia</p>
                    </div>
                    <!--end col-->
                    <div class="col-md-8">

                        <ul class="list-inline mb-0 contact-detail float-end">
                            <li class="list-inline-item">
                                <div class="ps-3">
                                    <p class="text-muted mb-0">Filtros:</p>
                                    <input class="form-control " type="date" id="picker_date_real" valueAsNumber="0">
                                    <select id="multiSelect">

                                        <option value="value-1" enabled selected>Turno 1</option>
                                        <option value="value-2">Turno 2</option>
                                        <option value="value-3">Turno 3</option>
                                    </select>

                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="ps-3">
                                    <i class="mdi mdi-account-star-outline "></i>
                                    <p class="text-muted mb-0">Supervisor de turno:</p>
                                    <p class="text-success mb-0">{{userlogin}}</p>

                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="ps-3">
                                    <i class="mdi mdi-clock"></i>
                                    <p class="text-muted mb-0">Operador</p>
                                    <p class="text-muted mb-0">Turno 1; Juan Perez</p>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="ps-3 prodTotal">
                                    <i class="mdi mdi-chart-bell-curve"></i>
                                    <p class="text-muted mb-0">Productción Total,</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--end col-->
                </div>
            </div>
            <!--end card-body-->
            <div class="card-body">
                {{!-- ----------------------------------PRIMER GRAFICA-------------}}





                {{!-- ----------------------------------TERCER GRAFICA----------- --}}

                <div class="row">

                    <!--end card-body-->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Desviación en Silo 1</h4>
                            </div>
                            <!--end card-header-->
                            <div class="card-body">
                                <div class="chart-demo">
                                    <div id="desvsilo1" class="apex-charts"></div>
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>


                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Desviación en Silo 2</h4>
                            </div>
                            <!--end card-header-->
                            <div class="card-body">
                                <div class="chart-demo">
                                    <div id="desvsilo2" class="apex-charts"></div>
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Desviación en Silo 3</h4>
                            </div>
                            <!--end card-header-->
                            <div class="card-body">
                                <div class="chart-demo">
                                    <div id="desvsilo3" class="apex-charts"></div>
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Desviación en Silo 4</h4>
                            </div>
                            <!--end card-header-->
                            <div class="card-body">
                                <div class="chart-demo">
                                    <div id="desvsilo4" class="apex-charts"></div>
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Desviación en Silo 5</h4>
                            </div>
                            <!--end card-header-->
                            <div class="card-body">
                                <div class="chart-demo">
                                    <div id="desvsilo5" class="apex-charts"></div>
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                {{!-- ----------------------------------FIN DE GRAFICA------------ --}}
                <div class="card-header">
                    <h4 class="card-title">Tabla de eventos</h4>
                </div>
                <div class="col-lx-4">
                    <div class="card-body">
                        <div id="apex_column1" class="apex-charts"></div>
                        <table class="table mb-0 tablealsp" style="border-spacing: 1px;border-collapse: separate;">

                    </div>

                    </table>
                </div>
                <hr>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12 col-xl-4 ms-auto align-self-center">
                        <div class="text-center"><small class="font-12">Dsp V4</small></div>
                    </div>
                    <!--end col-->

                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>