<footer>
            <img src="/images/003K ICONOS SOLO FONDO.svg" alt="user" class="fondoiconos ">
            {{!-- Posicionamiento de iconos --}}
            <div class="row">

              {{!-- ICONO DE INCIO --}}
                <div class="col-lg col-md-6 p-15 nf-item  ">
                   <div class="item-box">
                       <a class="iconos " href="/">
                           <img class="item-container mfp-fade iconos" src="images/003A ICONO INICIO.svg" alt="1" />                           
                       </a>
                   </div><!--end item-box-->
               </div><!--FIN ICONO DE INICIO-->
              {{!-- ICONO DE PRODUCCION --}}
                <div class="col-lg col-md-6 p-15 nf-item  ">
                   <div class="item-box">
                       <a class="iconos " href="/produccion">
                           <img class="item-container mfp-fade iconos" src="images/003B ICONO PRODUCCION.svg" alt="2" />                           
                       </a>
                   </div><!--end item-box-->
               </div><!--FIN ICONO DE PRODUCCION-->    
               {{!-- ICONO DE PRODUCCION --}}
                <div class="col-lg col-md-6 p-15 nf-item  ">
                   <div class="item-box">
                       <a class="iconos " href="realvssp">
                           <img class="item-container mfp-fade iconos" src="images/003C ICONO REAL VS.svg" alt="2" />                           
                       </a>
                   </div><!--end item-box-->
               </div><!--FIN ICONO DE PRODUCCION-->      
               {{!-- ICONO DE PRODUCCION --}}
                <div class="col-lg col-md-6 p-15 nf-item  ">
                   <div class="item-box">
                       <a class="iconos " href="/operacion">
                           <img class="item-container mfp-fade iconos" src="images/003D ICONO OPERACION.svg" alt="2" />                           
                       </a>
                   </div><!--end item-box-->
               </div><!--FIN ICONO DE PRODUCCION-->   

              {{!-- ICONO DE INCIO --}}
                <div class="col-lg col-md-6 p-15 nf-item  ">
                   <div class="item-box">
                       <a class="iconos " href="#">
                           <img class="item-container mfp-fade iconos" src="images/003E ICONO formulas.svg" alt="1" />                           
                       </a>
                   </div><!--end item-box-->
               </div><!--FIN ICONO DE INICIO-->
              {{!-- ICONO DE PRODUCCION --}}
                <div class="col-lg col-md-6 p-15 nf-item  ">
                   <div class="item-box">
                       <a class="iconos " href="#">
                           <img class="item-container mfp-fade iconos" src="images/003F ICONO historicos.svg" alt="2" />                           
                       </a>
                   </div><!--end item-box-->
               </div><!--FIN ICONO DE PRODUCCION-->    
               {{!-- ICONO DE PRODUCCION --}}
                <div class="col-lg col-md-6 p-15 nf-item  ">
                   <div class="item-box">
                       <a class="iconos " href="#">
                           <img class="item-container mfp-fade iconos" src="images/003G ICONO faqs.svg" alt="2" />                           
                       </a>
                   </div><!--end item-box-->
               </div><!--FIN ICONO DE PRODUCCION-->      
               {{!-- ICONO DE PRODUCCION --}}
                <div class="col-lg col-md-6 p-15 nf-item  ">
                   <div class="item-box">
                       <a class="iconos " href="#">
                           <img class="item-container mfp-fade iconos" src="images/003H ICONO soporte.svg" alt="2" />                           
                       </a>
                   </div><!--end item-box-->
               </div><!--FIN ICONO DE PRODUCCION--> 
               {{!-- ICONO DE PRODUCCION --}}
                <div class="col-lg col-md-6 p-15 nf-item  ">
                   <div class="item-box">
                       <a class="iconos " >
                           <img class=" mfp-fade logocliente" src="images/003I client.svg" alt="2" />                           
                       </a>
                   </div><!--end item-box-->
               </div><!--FIN ICONO DE PRODUCCION-->      
               {{!-- ICONO DE PRODUCCION --}}
                <div class="col-lg col-md-6 p-15 nf-item  ">
                   <div class="item-box">
                       <a class="iconos " >
                           <img class=" mfp-fade logoperdura" src="images/003J PERDURA LOGO.svg" alt="2" />                           
                       </a>
                   </div><!--end item-box-->
               </div><!--FIN ICONO DE PRODUCCION-->                     
                                  
            </div>
            {{!-- Fin de posicionamiento de iconos --}}
        </footer>