<footer class="footer text-center text-sm-start">
    &copy;
    <script>
        document.write(new Date().getFullYear())
    </script> GFX <span class="text-muted d-none d-sm-inline-block float-end">|
        BISSOPROGETTI-MARS |</span>
</footer>