<footer class="footer text-center text-sm-start">
                &copy; <script>
                    document.write(new Date().getFullYear())
                </script> Grupo Fermax Automatización y Control <span class="text-muted d-none d-sm-inline-block float-end">Dosiplant V4.0  <img src="assets/images/favicon/android-icon-36x36.png" alt="logo-small" class="menu-icon"> BISSOPROGETTI-MARS</span>
</footer>