  <head>
        <meta charset="utf-8" />
        <title>Dosiplant | MARS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Visor de Batcheo" name="Autor: Grupo Fermax Automatizaciíon y control" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico">

        <!-- App css -->

        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/jquery-ui.min.css" rel="stylesheet">
        <link href="css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="css/app-material.min.css" rel="stylesheet" type="text/css" />
        <link href="css/app.css" rel="stylesheet" type="text/css" />

        <link href="js/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="js/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsjs/le examples -->
        <link href="js/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />


    </head>