<div class="topbar ">
    <div class="row">

        <div class="col d-none d-sm-none d-md-block" style="left: 120px;">
            <img src="assets/images/logo-1.png" alt="logo-small" class="logo-sm" width="269px">
        </div>

        <div class="col">
            <nav class="navbar-custom " id="navbar-custom">
                <ul class="list-unstyled topbar-nav float-end mb-6 col-lx-12">

                    <!--end topbar-language-->

                    <li>
                        <div class="">
                            <a href="javascript:window.print()" class="btn btn-success btn-xl">Imprimir</a>

                        </div>
                    </li>

                    <li>
                        <a class="nav-link  arrow-none nav-icon" href="#" role="button" aria-haspopup="false"
                            aria-expanded="false">
                            <i class="ti ti-mail"></i>
                        </a>

                    </li>

                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle nav-user" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/users/user-4.jpg" alt="profile-user"
                                    class="rounded-circle me-2 thumb-sm" />
                                <div>
                                    <small class="d-none d-md-block font-11">Admin</small>
                                    <span class="d-none d-md-block fw-semibold font-12">{{userlogin}} <i
                                            class="mdi mdi-chevron-down"></i></span>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#"><i class="ti ti-user font-16 me-1 align-text-bottom"></i>
                                Perfil</a>
                            <a class="dropdown-item" href="#"><i
                                    class="ti ti-settings font-16 me-1 align-text-bottom"></i> Configuración</a>
                            <div class="dropdown-divider mb-0"></div>
                            <a class="dropdown-item" href="#"><i class="ti ti-power font-16 me-1 align-text-bottom"></i>
                                Cerrar sesión</a>
                        </div>
                    </li>
                    <!--end topbar-profile-->
                    <li class="notification-list">
                        <a class="nav-link arrow-none nav-icon offcanvas-btn" href="#" data-bs-toggle="offcanvas"
                            data-bs-target="#Appearance" role="button" aria-controls="Rightbar">
                            <i class="ti ti-settings ti-spin"></i>
                        </a>
                    </li>

                    <li>
                        <button class="nav-link button-menu-mobile nav-icon d-block d-sm-block d-md-none"
                            id="togglemenu">
                            <i class="ti ti-menu-2"></i>
                        </button>
                    </li>
                </ul>
                <!--end topbar-nav-->

                <ul class="list-unstyled topbar-nav mb-0">


                </ul>
            </nav>
        </div>


    </div>
    <!-- Navbar -->

    <!-- end navbar-->
</div>