<!DOCTYPE html>
<html lang="es">

  {{>header}}

    <body data-layout="horizontal-tab">
       <div id="wrapper">
            {{>topbar}}

            {{>4_operacionPartial}}    

            {{>footer}}
      </div>
     {{>scripts_}}
    </body>

</html>