<!DOCTYPE html>
<html lang="en">

{{>header}}

<body id="body">
  {{>sidebar}}
  {{>top_bar}}
  <div class="page-wrapper">
    <!-- Page Content-->
    <div class="page-content-tab">
      {{>contenido_2}}
      {{>set_appearance}}
      {{>footer}}
      <!-- Fin de Page Content-->
    </div>
    <!--Fin de Page Wrapper-->
  </div>
  <!-- Javascript  -->

  {{>scripts_}}
  <!-- App js -->
  <script src="assets/js/app.js"></script>

</body>
<!--end body-->

</html>